/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .media-mob-hidden {
    display: flex;
    visibility: visible;
  }

  .media-tab-dt-hidden {
    display: none;
    visibility: hidden;
  }

  .header {
    border-bottom: 1px solid #e7e9fc;
    width: 100%;
    padding: 0;
  }

  .header-div {
    display: flex;
    max-width: 766px;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 120px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    color: var(--logo-studio-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--text-hover-color);
  }

  .nav-link.active {
    color: var(--color-active);
  }

  .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--color-active);
    border-radius: 2px;
  }

  .address {
    font-style: normal;
    margin-left: auto;
  }

  .address-list {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  .address-li-link {
    color: var(--text-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-li-link:hover,
  .address-li-link:focus {
    color: var(--text-hover-color);
  }

  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background/bg-tab-x2.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px auto;
  }

  .features-section-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-section-item {
    width: calc(50% - 12px);
    align-items: start;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .customers-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .customer {
    width: 168px;
  }

  .customer-link {
    width: 168px;
  }

  footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 24px;
    row-gap: 72px;
    align-items: baseline;
    width: 552px;
  }

  .footer-left {
    width: calc(50% - 12px);
    align-items: start;
  }

  .footer-right {
    width: calc(50% - 12px);
    align-items: start;
  }

  .footer-subscribe {
    width: auto;
    align-items: start;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-input-email {
    width: 264px;
  }

  .modal {
    max-width: none;
    width: 408px;
  }
}

/* laptop screen */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /*HEADER ================*/

  .nav {
    gap: 76px;
  }

  .nav-link {
    font-size: 16px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-li-link {
    font-size: 16px;
  }

  /*HERO ======================*/

  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/bg-desk.jpg);
  }

  @media (min-device-pixel-ratio:2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
          url(../images/background/bg-desk-x2.jpg);
      }
  }

  .section-hero {
    padding: 188px 0;
    max-width: 1440px;
  }

  /*section 2  features  ==========================*/
  .features-section {
    padding: 120px 0 120px 0;
  }

  .media-mob-tab-hidden {
    display: flex;
    visibility: visible;
  }

  .icone-form {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    background-color: var(--button-color);
  }

  .features-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .features-section-item {
    align-items: center;
  }

  .features-section-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-item-paragraph {
    font-weight: 400;
  }

  /*section 3  Work examples ======================*/

  /* ... */

  /*section 4  Team section ===================*/

  .team-section {
    padding: 120px 0;
  }

  .cards {
    flex-wrap: nowrap;
  }

  /*section 5 Customers ========================*/

  .customers-section {
    padding: 120px 0;
  }

  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  /*footer =========================*/

  footer .container {
    width: 1158px;
    max-width: 100%;
    gap: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .footer-left {
    margin-right: 120px;
  }

  .modal {
    height: 584px;
  }
}
