
:root{
  --logo-web-color: #4d5ae5;
  --logo-studio-color: #2e2f42;
  --text-hover-color: #404bbf;
  --text-color: #434455;
  --button-color: #F4F4FD;
}

body{
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: #FFFFFF;
}

/*header*/

.link{
  text-decoration: none;
}
.list{
  list-style: none;
}

.logo{
  color: var(--logo-web-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase
}

.logo-studio{
  color: var(--logo-studio-color);
}

.list-link{
  color:var(--logo-studio-color)
}

.li-link{
  color: var(--logo-studio-color);
}

.header-list-li{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus{
  color: var(--text-hover-color);
}

.address{
  font-style: normal;
}

.address-list-li{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.address-li-link{
  color:#434455;
}

.address-li-link:hover,
.address-li-link:focus{
  color: var(--text-hover-color);
}


/*hero*/

.section-hero{
  background-color: #2E2F42;
}

.hero-title{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.hero-button{
  font-family: "Roboto", sans-serif;
  background: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer
}
.hero-button:hover,
.hero-button:focus{
  background-color: var(--text-hover-color);
}


/*section 1*/

.first-section-li-title{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--logo-studio-color);
}

.first-section-li-paragraph{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


/*section 2*/

.second-section-title{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-studio-color);
}

/*section 3*/

.third-section{
  background-color: #F4F4FD;
}

.third-section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-studio-color);
}

.third-section-list-li{
  background-color: #FFFFFF;
}

.third-section-li-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio-color);
}


.third-section-ourteam-info{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color)
}

/*footer*/
.footer{
  background: var(--logo-studio-color);
}

.studio-footer{
  color: #F4F4FD;
}


.footer-text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}



/*Portfolio buttons*/

.buttons-list{
  list-style-type: none;
}

.portfolip-bottons{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-web-color);
  background-color: var(--button-color);
  cursor: pointer;
}

.portfolip-bottons:hover,
.portfolip-bottons:focus{
  background-color: #404BBF;
  color: #FFFFFF;
}

.project-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio-color);
}

.project-paragraph{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}