:root {
  --logo-web-color: #4d5ae5;
  --logo-studio-color: #2e2f42;
  --text-hover-color: #404bbf;
  --text-color: #434455;
  --button-color: #f4f4fd;
  --button_text: #ffffff;
  --button-hover-focus: #404bbf;
  --profile-bottom-color: #e7e9fc;
  --subtle-text-color: #8e8f99;
  --color-active: #404bbf;
  --footer-icon-focus: #31d0aa;
  --background-modal: #fcfcfc;
  --modal-exit-button-bg-color: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: #ffffff;
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-div {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.logo {
  color: var(--logo-web-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-flex {
  margin-right: 76px;
}

.logo-studio {
  color: var(--logo-studio-color);
}

.list-link {
  color: var(--logo-studio-color);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--logo-studio-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--text-hover-color);
}

.nav-link.active {
  color: var(--color-active);
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--color-active);
  border-radius: 2px;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  gap: 40px;
  display: flex;
}

.address-li-link {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-li-link:hover,
.address-li-link:focus {
  color: var(--text-hover-color);
}

/*hero*/

.section-hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  display: block;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  background: var(--logo-web-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button_text);
  cursor: pointer;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--text-hover-color);
}

/*section 1*/

.icone-form {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  background-color: var(--button-color);
}

.first-section {
  padding: 120px 0;
}

.first-section-li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio-color);
  margin-bottom: 8px;
}

.first-section-li-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.first-section-list {
  display: flex;
  gap: 24px;
}

.first-section-li {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

/*section 2*/

.second-section {
  padding-bottom: 120px;
}

.second-section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-studio-color);
  margin-bottom: 72px;
}

.second-section-list {
  display: flex;
  gap: 24px;
}

.second-section-li {
  flex-basis: calc((100% - 48px) / 3);
}

/*section 3*/

.team-social {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.team-social-item {
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--logo-web-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--color-active);
}

.team-social-icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: var(--button-color);
}

.third-section-list {
  display: flex;
  gap: 24px;
}

.third-section {
  background-color: var(--button-color);
  padding: 120px 0;
}

.third-section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-studio-color);
  margin-bottom: 72px;
}

.third-section-li {
  background-color: var(--button_text);
  width: calc((100% - 72px) / 4);
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.third-section-li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio-color);
  text-align: center;
  margin-bottom: 8px;
}

.third-section-ourteam-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: center;
}

.third-section-person-content {
  padding: 32px 0;
}

/*fourth section*/
.fourth-section {
  padding: 120px 0 120px;
}

.fourth-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--logo-studio-color);
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 120px;
}

.customer-link {
  display: flex;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  color: var(--subtle-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--color-active);
  color: var(--color-active);
}

.customer-icon {
  display: block;
  width: 110px;
  height: 56px;
  fill: currentColor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

/*footer*/
.footer {
  background: var(--logo-studio-color);
  padding: 100px 0;
}

footer .container {
  display: flex;
  align-items: baseline;
}

.studio-footer {
  color: var(--button-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-color);
  max-width: 264px;
}

.footer-social {
  color: var(--button_text);
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-left {
  margin-right: 120px;
}

.footer-right {
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button_text);
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--logo-web-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--footer-icon-focus);
}

.footer-social-icon {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  fill: var(--button-color);
}

/*Portfolio buttons*/

.main-content {
  padding-top: 96px;
  padding-bottom: 120px;
}

.buttons-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-list-item{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolip-bottons {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-web-color);
  background-color: var(--button-color);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--profile-bottom-color);
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.portfolip-bottons:hover,
.portfolip-bottons:focus {
  background-color: var(--button-hover-focus);
  color: var(--button_text);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cart-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.cart-list-li {
  width: calc((100% - 48px) / 3);
}

.cart-content {
  padding: 32px 16px;
  border: 1px solid var(--profile-bottom-color);
  border-top: none;
}

.portfolio-link{
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-div{
  position: relative;
  overflow: hidden;
}

.overlay-div:hover .overlay-paragraph {
  transform: translateY(0);
}

.overlay-paragraph{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-color);
  padding: 40px 32px;
  background-color: var(--logo-web-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio-color);
  margin-bottom: 8px;
}

.project-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}



/*modal*/

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--background-modal);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-exit-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-exit-button-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-exit-button:hover,
.modal-exit-button:focus {
  border: none;
  background: var(--color-active);
}

.modal-exit-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-exit-button:hover .modal-exit-icon,
.modal-exit-button:focus .modal-exit-icon {
  fill: var(--button_text);
}
